/*--------- home fx redline ---------*/
.hero-title {
    display: flex;
    flex-direction: column;
}

.slogan1, .slogan2 {
    opacity: 0;               
    transform: scale(0.97);  
    animation: fadeScaleSlide 3s ease-out forwards;
}

.slogan1 {
    animation-delay: 0.3s;   
}

.slogan2 {
    animation-delay: 1s;   
}

@keyframes fadeScaleSlide {
    from {
        opacity: 0;
        transform: scale(0.97) translateX(var(--startX));
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

/* directions */
.slogan1 {
    --startX: -60%;
}

.slogan2 {
    --startX: 40%;
}

/*--------- home text anim --------*/
.intro p {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

/* décalage dans le temps pour séquencer les paragraphes */
.intro p:first-of-type {
    animation-delay: 2s; /* après les slogans */
}

.intro p:last-of-type {
    animation-delay: 4s;   /* le second paragraphe arrive juste après */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*--------- buttons fx underline ----------*/
button {
    position: relative;
    background: none;
    border: none;
}
/* trait du bas */
button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
/* trait droit */
button::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: red;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s ease 0.3s;
}
 /* hover */
button:hover::after {
    transform: scaleX(1);
}

 button:hover::before {
    transform: scaleY(1);
}
