/*--------- header styles ---------*/
.banner { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin: auto;
  padding: 1rem 0.5rem;
}
/*------ banner ------*/
h1 {
    margin-bottom: 1rem;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
}

.name {
    font-size: var(--fs-name); 
    font-weight: var(--fw-bold); 
    text-transform: uppercase;
    margin-top: 2rem;
}

/*------ navbar ------*/
button {
    background: none;
    border: none;
    padding: 2px 4px;
    margin: 0;
    color: inherit;
    outline: none;
    position: relative;
    padding-bottom: 4px;
}

/*--------- footer styles ---------*/
.social-links { 
    display: flex; justify-content: center; gap: 1rem; 
}

.social-links { 
    flex-direction: row; 
}

.copyright { 
    text-align: center; 
    margin: 1rem 0; 
    font-size: 0.8rem; 
}